/* width */
::-webkit-scrollbar {
  width: 15px;
  height: 18px;
  background: grey;
  border: black !important;
}

::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 6px;
  border: none;
}

header {
  /* border: 1px solid green; */
}
.left {
  position: absolute;
  left: 60px;
  top: 20px;
  display: inline-block;
  /* border: 2px solid red; */
}
.left img {
  width: 200px;
  height: 65px;
  filter: invert(100%);
  /* display: inline-block; */
}
.left div {
  text-align: center;
  line-height: 8px;
  /* display: inline-block; */
  /* padding-top: -50px; */
  font-size: 25px;
}
.mid {
  display: block;
  width: 40%;
  margin: 20px auto;
  /* border: 2px solid purple; */
}
.right {
  position: absolute;
  right: 40px;
  top: 20px;
  display: inline-block;
  /* border: 2px solid blue; */
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  font-size: 18px;
}
.navbar li a {
  color: white;
  text-decoration: none;
  padding: 16px 18px;
  font-size: 20px;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: grey;
}
.btn {
  font-family: "Baloo Bhaina 2", cursive;
  margin: 12px 9px;
  background-color: black;
  color: white;
  padding: 6px 16px;
  border: 1px solid rgb(32, 30, 30);
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  width: 140px;
}
.btn:hover {
  background-color: rgb(78, 76, 76);
}
.container {
  border: 2px solid white;
  margin: 100px 80px;
  padding: 60px;
  width: 33%;
  border-radius: 20px;
}
.container h1 {
  text-align: center;
}
.form-group input {
  text-align: center;
  display: block;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  margin: 9px auto;
  font-size: 18px;
  border-radius: 8px;
}
.container button {
  display: block;
  margin: 20px auto;
  width: 62%;
  border: 2px solid grey;
}
